body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#content{
    min-height: 200vh;
}

@media (min-width:992px){
    #menu{
        display: none !important; 
    }
    #home>.container-fluid{
        width:95%
    }
}